---
apiVersion: v1
kind: Service
metadata:
  name: coredns{{ coredns_ordinal_suffix }}
  namespace: kube-system
  labels:
    k8s-app: kube-dns{{ coredns_ordinal_suffix }}
    kubernetes.io/name: "coredns{{ coredns_ordinal_suffix }}"
    addonmanager.kubernetes.io/mode: Reconcil